*{
    box-sizing:border-box;
    text-decoration:none;
}

#page-container{
    position:absolute;
}  

#page-container{
    display:inline-block;
    background-color: hsla(168, 22%, 91%, 0.318);
    height:100vh;
    width:100vw;
}

#menu-icon{
   height:1em;
   
}

.main-menu-button{
    background-color: rgb(181, 205, 206);
    border:none;
    border-radius: 4px;
    margin: 2px 1em
}

.main-menu-button:active{
    background-color: aquamarine;
}

.main-menu-button:hover{
    background-color: hsl(174, 23%, 91%);

}

#button-container{
    display:flex;
    flex-direction: column; 
    height:50vh;
    width:30vh;
    border-width: 1px;
    border-color:black;
    border-style: solid;
}
